Repository seerviashish/react-webcam-as, changes with the labels that .github/labeler.yml gives for each.
All labels: configuration, git, documentation, github, github_actions, policy, vscode, storybook, stories, src, tests, tsconfig, lint-rules, docker

.github/labeler.yml:

configuration:
  - '.github/*.yml'
  - '.husky/*'
  - '.vscode/*'
  - 'jest.config.js'
  - '.editorconfig'
  - '.babelrc.json'
  - '.commitlintrc.json'
  - '**/tsconfig.json'
  - 'vitest.config.js'
git:
  - '**/.gitignore'
  - '**/.gitkeep'
documentation:
  - '**/*.md'
  - '**/*.txt'
github:
  - any: ['.github/*', '!.github/workflows/']
github_actions:
  - '.github/workflows/*'
policy:
  - '.github/ISSUE_TEMPLATE/*'
  - '.github/PULL_TEMPLATE/*'
  - 'LICENSE.txt'
  - 'SECURITY.md'
vscode:
  - '.vscode/*'
storybook:
  - '.storybook/*'
stories:
  - 'src/**/*.stories.tsx'
src:
  - 'src/*'
tests:
  - 'tests/*'
tsconfig:
  - '**/tsconfig.json'
lint-rules:
  - '.prettierignore'
  - '.prettierrc.json'
  - '.eslintrc.js'
  - '.editorconfig'
  - '.commitlintrc.json'
docker:
  - '**/Dockerfile'
  - '**/docker-compose.yml'
  - '**/docker-compose.*.yml'

fix(64): issue template fixed
  .github/ISSUE_TEMPLATE/0-issue.md
Labels: documentation, policy

fix(deps): removed not required deps
  .storybook/main.ts
  package.json
  yarn.lock
Labels: storybook

chore(example): not required example folder it is contained in storybook
  example/README.md
  example/package.json
  example/public/index.html
  example/public/manifest.json
  example/src/App.js
  example/src/index.css
  example/src/index.js
  example/yarn.lock
Labels: documentation

feat(issue-template): fixed issue template
  .github/ISSUE_TEMPLATE/0-issue.md
Labels: documentation, policy

fix(initial-version): fixed initial version start as per last npm package version
  package.json
Labels: none

feat(npm-version): aligned npm version with previous npm published version
  package.json
Labels: none

chore(release): v2.0.0
  package.json
Labels: none

fix(demo-link): added demo link
  README.md
Labels: documentation

chore(release): v2.0.1
  package.json
Labels: none

fix(exif-required): exif used as import removed use as required
  src/Webcam.tsx
Labels: src

chore(release): v2.0.2
  package.json
Labels: none
